/* The Intergalactic Madbury Club™
 * Dorm Room Sensibilities since 2010. Two Times Platinum Shuffleboard Committee.
 * Fear the Deer, Respect The Stripe.
*/

@import 'compass';
@import 'compass/reset';
@import 'compass/css3';
@import "bourbon/bourbon";
@import "neat/neat";

// //////////////////////
// CONFIG
// //////////////////////

$total_width: 100%;
$container_margin: 1%;
$gutter_width: 2%;
$max_width: 100%;

$color_yellow: #fff200;
$color_nearlyblack: #252525;
$color_nearlynearlyblack: #454545;
$color_body: #636363;
$color_headlines: #b7b7b7;
$headerFont:900;
$italicFont: italic;
$subheaderFont:italic;
$defaultFont: 'Playfair Display', serif;
$primaryColor: #333;
$font-size: 1em;
$navFont: 1.2em;
$float-position: left;
$display: inline-block;
$size: 100%;
$break-small: 460px;
$break-large: 1100px;



// //////////////////////
// MODULE STYLES
// //////////////////////

@import "modules/global-styles";
@import "modules/header";
@import "modules/footer";


figure img {
	float:left;
	margin: 0 0 .5em;
	 animation: fadein 1s;
	   -moz-animation: fadein 1s; /* Firefox */
	   -webkit-animation: fadein 1s; /* Safari and Chrome */
	   -o-animation: fadein 1s; /* Opera */
		  }

 
 @keyframes fadein {
     from {
         opacity:0;
     }
     to {
         opacity:1;
     }
 }
 @-moz-keyframes fadein { /* Firefox */
     from {
         opacity:0;
     }
     to {
         opacity:1;
     }
 }
 @-webkit-keyframes fadein { /* Safari and Chrome */
     from {
         opacity:0;
     }
     to {
         opacity:1;
     }
 }
 @-o-keyframes fadein { /* Opera */
     from {
         opacity:0;
     }
     to {
         opacity: 1;
     }
 }

.content {
margin:25em 0 6em 0;
}

.product {
margin:22em 0 6em 0;
}

.post-content {
margin:22em 0 2em 0;
}

li, a{
	color: #333;
}


a:hover {
		color:#fff;
		-moz-transition:all .5s ease-out;
		-o-transition:all .5s ease-out;
		-webkit-transition:all .5s ease-out;
		transition:all .5s ease-out;
		
	}



.fluid-width-video-wrapper {
float: left;
margin-bottom:1em;

}

.tmc-16 {
@include outer-container;
	margin: 0 auto;
	height: 100%;
	position: relative;
	padding: 0px 3.55555em;
	max-width: 70.875rem;
	overflow:hidden;
	
	
	@media screen and (max-width: $break-large) {
	  max-width: 63.875rem;
	} 
	@media screen and (max-width: $break-small) {
	  padding: 0px 1.55555em;
	}	
}

.tmc-8 {
@include outer-container;
	margin: 0 auto;
	height: 100%;
	position: relative;
	padding: 0px 3.55555em;
	max-width: 63.875rem;
	@media screen and (max-width: $break-large) {
	  max-width: 56.875rem;
	} 
	}



	