
a.previous.nav-icon, a.next.nav-icon {
	font-style: italic;
	padding: 2.6em;
	color: #333;
	display: inline-block;
	margin: 1.5em;
	font-size: 1.5em;
	
}

.feature-name {
	float: left;
	margin: 7em 0 2em 0;
	color: #333;
	width: 100%;
	text-align: center;
	
	h1 {
		font-weight:$headerFont;
		font-size:5.84em;
		line-height: 1.4em;
		}
	p {
	width: 18em;
	font-size: .9em;
	line-height: 1.3em;
	}
}
	
.page-name {
	position: absolute;
	float: left;
	margin: 0;
	color: #000;
	width: 100%;
	top: 11.4em;
	height: 11em;
	z-index: -1;
	
	h1 {
		font-size:2.84em;
		line-height: 1.4em;
	}
	
	p {
	font-style: $italicFont;
	font-size: .8em;
	line-height: 1.3em;
	width: 23em;
	margin-top: 1em;
	}
	
	h2 {
	background-color: black;
	width: 10em;
	text-align: center;
	color: white;
	line-height: 2em;
	border-radius: 7px;
	font-size: .4em;
	margin-top: 1em;
	text-transform: uppercase;
	}
	
}

.home-header {
float: left;
margin: 0 0 .8em 0;
color: #333;
width: 100%;
font-weight: $headerFont;
font-size: 5.84em;
line-height: 1.4em;

}

.featured-image {
min-height: 37em;
width: 100%;
}

h3.content-subheader {
	text-align:right; 
	}
	
h3.content-subheader a:hover {
-moz-transition:all .5s ease-out;
-o-transition:all .5s ease-out;
-webkit-transform:translateZ(0);
-webkit-transition:all .5s ease-out;	
	}
	

h1.product { 
font-weight: 900;
font-size: 1.6em;
line-height: 1.2em;
margin:0 0 .5em 0;
float: left;
width: 100%;
	a {
	border-bottom:7px solid;
	padding: .3em 0;
	line-height: 2em;
	}
	
}	
//
h1.player { 
font-size: 2em;
font-style: $italicFont;
line-height: 1.2em;
margin: 0 0 .5em 0;
float: left;
width: 100%;
}	

h1.title { 
font-size: 2em;
font-style: $italicFont;
line-height: 1.2em;
margin: 0 0 .5em 0;
float: left;
width: 100%;
}	

h2.title { 
font-size: 2em;
font-family: arial ;
font-weight: bold;
float: left;
margin-right: .5em;
}	

.stream {
float: left;
display: block;
margin-left: 2.366658%;
font-style:$italicFont;
font-size: .9em;
margin-top: 3em;

	img {
	float: left;
	width: 4em;
	margin-right: 1em;
	}
		
	p {
	float: left;
	color: #000;
	}
}
	
	
	
	
header{
	width: $total_width;
	max-width: $max_width;
	margin: 0 auto;	
	position: absolute;
	overflow: hidden;
	top: 0;
	z-index: 10; 
	height: 22em;
	
	.site-title {
		float: left;
		width: 20em;
		margin-left: -4em;
		}
			
	.page-menu {
	  display: block;
	  margin-left: 50.226658%;
	  width: 57.29137%;
	  
	  li {
	  list-style: none;
	  float: $float-position;
	  margin: 0 1em;
	  padding: 0.5em 0 0;
	  width: 7em;
	  border-top: 10px solid;
	  	a {
	  		font-size: 1.4em; 
	  		border-bottom: 1px solid;
	  		padding-bottom: .3em;
	  		}
	  			
	  	a:hover {
	  		color:#fff;
	  		-moz-transition:all .5s ease-out;
	  		-o-transition:all .5s ease-out;
	  		-webkit-transition:all .5s ease-out;
	  		transition:all .5s ease-out;
	  		
	  	}
	 
	  
	  span.nav {
	    font-size: .6em;
	    font-style: italic;
	    line-height: 1;
	    	
	    	p{
	    		padding-top: 1.6em;
	    	}
	  }
		}
		 }	

	.center{
		@include clearfix();
		position: relative;
		display: block;

		a{
			position: absolute;
			top: 50%;
			margin-top: -42px;
			display:block;
			width:84px;
			height: 85px;
		}

		a#example_prev{
			left: -25px;
		}
		a#example_next{
			right: -25px;
		}

		a span{
			position: relative;
			z-index: 8998;
			display:block;
			overflow: hidden;
			text-indent: -1000px;
			width:84px;
			height: 85px;
			display: none;
		}


		
		.wrap{
		margin-left: 22em;
		max-width: 58em;
		overflow: hidden;
		}
		
		
		.tmc-100{
		  width: 100%;
		  height: 15.875rem;
		  animation-duration: 0.25s;
		  transition-timing-function: ease-in;
		  animation-fill-mode: both;
		  animation-direction: alternate-reverse;
		}
	
		span.nav {
			font-size: .6em;
			font-style: italic;
		}
		
		

		a i{
			position: absolute;
			display:block;
			width:13px;
			height: 19px;
			left: 50%;
			top: 50%;
			margin-top: -10px;
			z-index:8999;
		}

		i.arrow-left{
			margin-left: -8px;
		}

		i.arrow-right{
			margin-left: -5px;
		}

	}	
}

// ///////////////////////////
// MEDIA QUERIES
// ///////////////////////////


@media screen and (max-width: 990px) {
	header .page-menu {
		margin-left: 38.226658%;
		width: 61.29137%;
			}
	}

@media screen and (max-width: 925px) {
	header .page-menu {
		margin-left: 32.226658%;
		width: 78.29137%;
		
			li span.nav {
			display: none;
			}
	}
	
	.featured-image {
	min-height: 24em;
	width: 100%;
	}
	
	.feature-name h1 {
		font-weight: $headerFont;
		font-size: 3.84em;
		line-height: 1;
	}
	
	
	.page-name {
		float: left;
		color: #333;
		width: 100%;
		}
}

@media screen and (max-width: 750px) {
header	{
	height: 21em;
		.site-title {
		width: 12em;
		margin-left: 34%;
		}

		.page-menu {
		  margin-left: 7.226658%;
		  width: 100%;
		  float:left;
		  	
		  	li {
		  	border-top: none;
		  		a { 
		  		font-size: 1.2em;
		  		border-bottom: none;
		  		padding-bottom: .3em;
		  		}
		  	}
		}
		
		.stream {
		margin-left: 2.966658%;
		margin-top: 2em;
		}
		
		.page-name {
		display:none;
		}
				
}


.featured-image {
min-height: 24em;
width: 100%;
}

.feature-name h1 {
	font-weight: $headerFont;
	font-size: 3.84em;
	line-height: 1;
}

}


@media screen and (max-width: 460px) {
	header{
	
	 .page-menu {
		margin-left: 0.226658%;
	
		li{
			margin: 0 1.6em;
		padding: .5em 0 0;
		width: 6em;
		}
	}
	
		.site-title {
		width: 12em;
		margin-left: 21%;
		}
	
	}	
}


