{% capture content %}
</div><div class="page-name">
<div class="tmc-16">
<h2>Now Showing:</h2>
<h1>Public Works Program</h1>
<p>The collected physical and metaphysical works to have emerged from the Cosmic Studios of The Madbury Club.</p> </div>
</div>
</header>
<section class="post-content">
<div class="flexslider">
<ul class="slides">
{% for asset in assets %}
{% if asset.type == 'image' %}
<li> <img src="{{asset.url}}">
</li>
{% endif %}
{% endfor %}
</ul>
</div>
<div class="tmc-16">
<section class="article pad-top">
<div class="feat-credits"><h2>{{ date | date: "%b %d, %Y" }}</h2>
<h1>
{{title}}
</h1>
<h2>
</h2>
<h2>
{{meta['photographer']}}
</h2>
<h2>
{{meta['ad']}}
</h2>
</div>
<article class="wrap post">
{{ body }}
</article>
</section>
</div>
{% endcapture %}
{% include 'layouts/default' %}